*.pyc
*.token
.365d-token-shark1-2025

*.sol
*.log
*.nl
*.txt

.idea
.idea/
/python-api/
/ssop/ssop_config.py.bak
/pe/everest.py.XXX
/pe/ssop_config.py.back
/examples/
/ssop/miscTest/testPlan.txt.XXX
/ssop/miscTest/testPlan-8.txt.XXX
/ssop/miscTest/testPlanApps.txt.XXX
/ssop/miscTest/
asl_io/example.col
asl_io/example.row
asl_io/example.symbol_map.pickle
asl_io.bak/
.gitignore
